<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <div class="data"></div>
    <% for(var i = 0; i < products.length; i++){%>
      <img src="../products/<%=products[i].img%>" alt="">
    <%}%>
    

    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script>
      $(document).ready(function () {
        // load()
      })
      

      function load() {
        $.ajax({
          type:"GET",
          url:'https://reqres.in/api/users'
      }).done((response) => {
          console.log("response",response.data);
          let html = ''
          let data = response.data
          data.forEach(items => {
            html += `email : ${items.email} <br /> first name : ${items.first_name} <br /><hr>`

            $(".data").html(html)
          });
          
      })
      }
         
      function data() {
        
      }
      
  </script>
  </body>
</html>
